@import url('../../cssConstants/colors.css');

body {
    font-family: Cantarell;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

button, a.button {
    padding: .5em;
    background: var(--primary-color);
    border-radius: 2px;
    border: 2px solid var(--primary-color);
    color: black;
    font-size: 15px;
    font-weight: 700;
    min-width: 75px;
    margin: .5em;
    cursor: pointer;

    &:hover{
        border: 2px solid var(--secondary-color);
        opacity: .95;
    }
    &.secondary-button{
        background: var(--secondary-color);
        border: 2px solid var(--secondary-color);
    }
    &.secondary-button:hover{
        opacity: .90;
        border: 2px solid var(--third-color);
    }
  
}


a {
    font: inherit;
    text-decoration: none;
    color: inherit;
}

.action-item {
    color: black;
    cursor: pointer;
    &:hover{
        color: var(--secondary-color);
    }
}
.action-item-link {
    color: var(--secondary-color);
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}

.centered-content{
    display: flex;
    justify-content: center;
}

.horizontal-items{
    display: flex;
    justify-content: space-between;
}

